{% extends "base_generic.html" %}

{% block content %}
  <h1>Author List</h1>
  {% if author_list %}
  <ul>
    {% for author in author_list %}
      <li>
          <!-- Access fields of the associated book by using the . 
                We can also call functions in the model from within the template
                in this case book.get etc... is used to get the URL that will be used to display the associated detail record-->
        <a href="{{ author.get_absolute_url }}">{{ author.last_name }}, {{author.first_name}} ({{author.date_of_birth}} - {{author.date_of_death}})</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no authors in the library.</p>
  {% endif %}       
{% endblock %}